div.wrap{
	background-color:#f9f9f9;
	background-repeat:no-repeat;
	background-size:cover;
}

header.main-header{
	z-index:1000;
	position:relative;
	top:0;
	text-align:center;
	height:340px;
	width:100%;	
	box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
	background:url(/i/header.jpg);
	background-size:auto auto;
}
.logo{
	position:absolute;
	left:1%;
	right:1%;
	bottom:-40px;
}
.logoimg{
	width:78px;
}
.blog-title{
	margin-top:147px;
	border:0;
	-webkit-filter:drop-shadow(2px 2px 2px #333);
	
}
.blog-title a:hover{
	text-decoration:none;
	-webkit-filter:drop-shadow(4px 4px 4px #444);
	-webkit-transform:scale(1.2);
}
.blog-title a{
	font-weight:700;
	color:#fff;
	font-size:64px;
}
.blog-title h2{
	color:#fff;
	padding:0;
	margin:0 0 45px;
	font-weight:100;
	font-size:34px;
}
.master-main{
	top:360px;
	padding-bottom:15px;
}
.link{
	position:absolute;
	right:1%;
	bottom:5px;
}
.myicon{
	color:#333;
}
#popup-layer{
	position:absolute;
	z-index:2;
	width:500px;
	height:202px;
	display:none;
	left:61px;
	top:2046px;
	opacity:1;
}
.blk{width:500px;position:relative;}
.blk .head{padding-left:4px;}
.blk .head-right{background-position:right top;}
.blk .foot{padding-left:4px;background-position:left bottom;_height:3px;}
.blk .foot-right{background-position:right bottom;}
.blk .main{border-left:2px solid #85B6E2;border-right:2px solid #85B6E2;position:relative;background:#fff;}
.blk .main h2{font:bold 16px "Microsoft YaHei";padding:10px 20px 2px;color:#85B6E2;}
.blk .main .fieldset{
	margin-left:auto;
	margin-right:auto;
	width:480px;
}
.blk .main .title h2{
	float:left
}
.blk .main .title a{
	float:right;
	padding:5px;
}
footer{
	background:#4A4849;
	padding:0;
	margin:0;
	color:#fff;
	font-size:12px;
	position:relative;
	box-shadow: 3px -3px 3px rgba(0,0,0,0.25);
}
footer .footer-text{
	padding:30px 0;
	margin:0;
}
footer a{
	color:#ccc;
}
.sidebar-in{
	box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
}
.sidebar-title{
	padding:20px;
}
.sidebar-item{
	padding:0 10px 0 10px;
}
.sidebar-item label{
	font-size:17px;
}
div#top-bar-box{
	display:inline-block;
	hegiht:106px;
	float:right;
	position:relative;
}
div.navbar{
	position:relative;
	margin-top:55px;
}
.link li{
	float:left;
}
.link li.active a{
	color:#fff;
	border-bottom:2px solid #37afe4;
}

.link li a{
  	font-size:15px;
	font-weight:bold;
  	color:#263ef3;
	padding:0;
  	margin-right:25px;
}

.admin-row{
	padding:10px;
}
.fan-img{
	-webkit-filter:drop-shadow(2px 2px 2px #aaa);
	
}
a:hover .fan-img{
	-webkit-filter: drop-shadow(7px 7px 7px #888) brightness(1.2);
}
.nav li a{
	-webkit-filter: drop-shadow(3px 3px 3px #888);
}
.nav li a:hover{
	-webkit-transform:scale(1.2);
	background:transparent;
}
.admin-img{
	width:100%;
	height:100%;
}

.admin-text{
	text-align:center;
}
.editor-wrap #container-title{
	display:block;
	width:960px;
	margin:0 auto 20px;
}
.editor-wrap{
	display:block;
	width:960px;
	margin:0 auto 50px;
}
.article-wrap{
	padding:25px;
}
.article-main{
	border:2px solid #a1a1a1;
	border-radius:20px;
	background-color:#fefefe;
}
.article-main .article-title{
	
}
.article-main .article-content{
}
.article-divider{
	width:100%;
	height:3px;
	background-color:#a1a1a1;
}
.article-header{
	margin:25px 0 25px 0;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
}
.article-comments{
	background-color:#eee;
}
.article-footer{
	background-color:#17a689;
	height:3px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}
.align-right{
	text-align:right;
}
.comment-area{
	width:98%;
	left:1%;
	right:1%;
}
.label-title{
	text-align:center;
}

.center-text{
	text-align:center;
}
.left-text{
	text-align:left;
}
.right-text{
	text-align:right;
}
.hidden{
	display:none;
}
.content-container{
	width:100%;	
}
.margin-5{
	margin:5px;
}
.padding-5{
	padding:5px;
	text-align:center;
}
.height-5{
	height:5px;
}
.soft-text{
	color:#17a689;
	font-family: 'Open Sans', 'trebuchet ms', arial, sans-serif;
}
.blur{
	-webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);   
            filter: blur(10px); 
}
a.inline:hover{
	text-decoration: none;
}
.inline{
	display:inline;
}