div.wrap{
	background:url(/i/background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
header.main-header{
	background:url(/i/header.jpg);
	background-repeat:no-repeat;
	background-postion:center 0;
	background-size:cover;
	padding:138px 0 0;
	text-align:center;min-height:400px;
	position:relative;
}
.logo{
	position:absolute;
	left:1%;
	right:1%;
	bottom:-40px;
}
.logoimg{
	width:78px;
}
.blog-title{
	margin-bottom:30px;
	border:0
}
.blog-title a{
	font-weight:700;
	color:#fff;
	font-size:64px;
}
.blog-title h2{
	color:#fff;
	padding:0;
	margin:0 0 45px;
	font-weight:100;
	font-size:34px;
}
.link{
	position:absolute;
	right:1%;
	bottom:10px;
}
.myicon{
	color:#333;
}
#popup-layer{
	position:absolute;
	z-index:2;
	width:500px;
	height:202px;
	display:none;
	left:61px;
	top:2046px;
	opacity:1;
}
.blk{width:500px;position:relative;}
.blk .head{padding-left:4px;}
.blk .head-right{background-position:right top;}
.blk .foot{padding-left:4px;background-position:left bottom;_height:3px;}
.blk .foot-right{background-position:right bottom;}
.blk .main{border-left:2px solid #85B6E2;border-right:2px solid #85B6E2;position:relative;background:#fff;}
.blk .main h2{font:bold 16px "Microsoft YaHei";padding:10px 20px 2px;color:#85B6E2;}
.blk .main .fieldset{
	margin-left:auto;
	margin-right:auto;
	width:480px;
}
.blk .main .title h2{
	float:left
}
.blk .main .title a{
	float:right;
	padding:5px;
}
footer{
	background:#4A4849;
	padding:0;
	margin:0;
	color:#fff;
	font-size:12px;
	position:relative;
}
footer .footer-text{
	padding:30px 0;
	margin:0;
}
footer a{
	color:#ccc;
}


div#top-bar-box{
	display:inline-block;
	hegiht:106px;
	float:right;
	position:relative;
}
div.navbar{
	position:relative;
	margin-top:55px;
}
.link li{
	float:left;
}
.link li.active a{
	color:#fff;
	border-bottom:2px solid #37afe4;
}

.link li a{
  	font-size:15px;
  	color:#37afe4;
  	text-shadow:none;	
  	box-shadow:none;
	padding:0;
  	margin-right:25px;
}

.admin-row{
	padding:10px;
}

.admin-img{
	width:100%;
	height:100%;
}

.admin-text{
	text-align:center;
}
.editor-wrap #container-title{
	display:block;
	width:960px;
	margin:0 auto 20px;
}
.editor-wrap{
	display:block;
	width:960px;
	margin:0 auto 50px;
}

.article-main{
	padding:50px;	
}
.article-main .article-title{
	background-color:#fefefe;
}
.article-main .article-content{
	background-color:#fefefe;
}